body {
  font-family: 'EB Garamond', serif;
  padding: 0px;
  margin: 0px;
  background-color: black;
  user-select: none;
  color: white;
}
p {
  font-size: 120%;
}
#back {
  margin: 75px;
}

.icon {
  height: auto;
  width: 28px;
}
@media screen and (max-width: 413px) {
  p {
    font-size: 90%;
  }
  li {
    font-size: 90%;
  }
  span {
    font-size: 90%;
  }
  .icon {
    width: 20px;
  }
}

@media screen and (max-width: 1500px), screen and (max-height: 840px) {
  #back {
    margin: 0;
  }
}
#back::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('http://images.pushsquare.com/ecfd8d3cb5cde/dark-souls-remastered-fire-keeper-souls-locations-guide-1.original.jpg');
  background-size: cover;
  filter: blur(4px) brightness(50%);
  z-index: -1;
}
#back-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
}
